.gradle
/local.properties
/.idea/
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/app.iml
app/app.iml
*.iml
app/src/main/res/layout/aaa.xml
app/src/main/java/com/parttime/test/TestActivity.java
